<nav class="mynav">
  <div class="container-fluid">

      <ul>
          <li>
              <a class="navbar-brand" routerLink="home" href=""><img src="assets/image/logo1.png" alt=""></a>
          </li>
          <li><a routerLink="home" routerLinkActive="active"><span class="glyphicon glyphicon-home navItems"></span> Home</a></li>
          <li><a routerLink="signup"><span class="glyphicon glyphicon-user navItems"></span> Sign Up</a></li>
          <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a routerLink="menu"><span class="glyphicon glyphicon-cutlery"></span>Menu</a></li>
          <li><a routerLink="dm"><span class="glyphicon glyphicon-shopping-cart"></span>Go to Cart</a></li>
          <li><a routerLink="v"><span class="glyphicon glyphicon-eye-open"></span>View Cart</a></li>
          <li><a routerLink="dp"><span class="glyphicon glyphicon-asterisk"></span>Delivery Partner</a></li>
          <li><a routerLink="am"><span class="glyphicon glyphicon-asterisk"></span>Admin ADD Menu</a></li>
          <li><a routerLink="about"><span class="glyphicon glyphicon-heart"></span>About us</a></li>
      </ul>
  </div>
</nav>