<nav class="navbar navbar-dark bg-warning">
    <div class="container-fluid">

        <ul class="nav navbar-nav ">
            <li>
                <a class="navbar-brand" href=""><img src="assets/image/logo1.png" alt=""></a>
            </li>
            <li><a routerLink="home"><span class="glyphicon glyphicon-home"></span>Home</a></li>
            <li><a routerLink="menu"><span class="glyphicon glyphicon-cutlery"></span>Menu</a></li>

            <li><a routerLink="cart"><span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart</a></li>
            <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a routerLink="dp"><span class="glyphicon glyphicon-asterisk"></span>Delivery Partner</a></li>
        </ul>
    </div>
</nav>