<!-- <h4 class="text-center">Customer Login Form</h4> -->
<div>
    <h2 style="text-align: center;">Login Here</h2>

    <form style="margin-top: 5rem;" [formGroup]="customerLoginForm">
       <span>Id:</span><input type="number" name="" id="" formControlName="id" placeholder="Enter the id u saw" class="form-control"> 
        <span> Password:</span> <input type="password" name="" id="" formControlName="password" placeholder="Enter Your Password" class="form-control">

        <br>
        <input type="button" value="Login" class="btn btn-primary" (click)="fnsubmit()">&nbsp;
        <input type="reset" value="reset" class="btn btn-danger">
    </form>
    <div style="margin-top: 5rem;" class="intrpltn">
        {{customerLoginForm.value | json}}
    </div>
</div>

    {{customerLoginForm.value | json}}

