<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-sm-4">
                <h2>Locations</h2>
                <p>Hyderabad</p>
                <p>Bangalore</p>
                <p>Chennai</p>
                <p>Mumbai</p>
            </div>
            <div class="col-sm-4">
                <h2>About Us</h2>
                <p style="text-align: justify;">We deliver quality foods across various locations in the great nation ,India.We are very happy to say that all our customers are filled with the love we deliver.We are very blessed to recieve the love & affection of our beloved customers
                    who taste us...</p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <p>JST foods head office,<br> Avenue streets,Bangalore</p>
                <p>Building No:12-3/45</p>
                <a href="" style="color: white; text-decoration: none;">
                    <p>Email:jstfoods.official@gmail.com </p>
                </a>
                <p><span class="glyphicon glyphicon-earphone"></span> +91 xxxxxx1234</p>
                <p><span class="glyphicon glyphicon-earphone"></span> +91 xxxxxx4567</p>
                <div id="mntr-soc" class="mntr-soc">
                    <a target="_blank" href="https://web.whatsapp.com/" style="color: black;"> <i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://www.instagram.com" style="color: black;"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://twitter.com/home" style="color: black;"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
