
<div>
    <h2 style="text-align: center;">Admin can add </h2>
    <form [formGroup]="addMenuForm">
        <span> Description:</span> <input type="text" name="" id="" formControlName="description" class="form-control">
        <span> Name:</span> <input type="text" nmae="" id="" formControlName="name" class="form-control">
        <span> Picture: </span><input type="file" name="" id="" formControlName="picture" class="form-control" (change)="fnChange($event)">
        <span> Price:</span> <input type="text" name="" id="" formControlName="price" class="form-control">
       
        <br>
        <input type="button" value="Add" class="btn btn-success" (click)="fnAdd()">
    </form>
    
</div>


