<div class="jumbotron text-center">
    <h1>Menu Of The Day</h1>
</div>
<form [formGroup]="menuForm">
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-6 col-lg-3">
            <div class="card">
                <div class="image">
                    <img src="assets/image/2.jpg" alt="">
                </div>
                <div class="title">
                    <h2>Chicken Biriyani</h2>
                </div>
                <div class="description">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <div class="rating">
                    <div id="mntr-rating" class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                </div>
                <button class="btn btn-success" (click)="addMenu1()">Add To Cart</button>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-6 col-lg-3">
            <div class="card">
                <div class="image">
                    <img src="assets/image/2.jpg" alt="">
                </div>
                <div class="title">
                    <h2>Chicken Biriyani</h2>
                </div>
                <div class="description">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <br>
                <div class="rating" style="display: flex; font-size: 10px;">
                    <div id="item-rating" class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <br>
                    <button style="margin-left: 10px;" class="btn btn-success">Add To Cart</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-6 col-lg-3">
            <div class="card">
                <div class="image">
                    <img src="assets/image/2.jpg" alt="">
                </div>
                <div class="title">
                    <h2>Chicken Biriyani</h2>
                </div>
                <div class="description">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <div class="rating">
                    <div id="mntr-rating" class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>

                    <button class="btn btn-success">Add To Cart</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-6 col-lg-3">
            <div class="card">
                <div class="image">
                    <img src="assets/image/2.jpg" alt="">
                </div>
                <div class="title">
                    <h2>Chicken Biriyani</h2>
                </div>
                <div class="description">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <div class="rating">
                    <div id="mntr-rating" class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>

                    <button class="btn btn-success">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-6 col-lg-3">
            <div class="card">
                <div class="image">
                    <img src="assets/image/2.jpg" alt="">
                </div>
                <div class="title">
                    <h2>Chicken Biriyani</h2>
                </div>
                <div class="description">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <div class="rating">
                    <div id="mntr-rating" class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>


                    <button class="btn btn-success">Add To Cart</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-6 col-lg-3">
            <div class="card">
                <div class="image">
                    <img src="assets/image/2.jpg" alt="">
                </div>
                <div class="title">
                    <h2>Chicken Biriyani</h2>
                </div>
                <div class="description">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <div class="rating">
                    <div id="mntr-rating" class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>


                    <button class="btn btn-success">Add To Cart</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-6 col-lg-3">
            <div class="card">
                <div class="image">
                    <img src="assets/image/2.jpg" alt="">
                </div>
                <div class="title">
                    <h2>Chicken Biriyani</h2>
                </div>
                <div class="description">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <div class="rating">
                    <div id="mntr-rating" class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>


                    <button class="btn btn-success">Add To Cart</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-6 col-lg-3">
            <div class="card">
                <div class="image">
                    <img src="assets/image/2.jpg" alt="">
                </div>
                <div class="title">
                    <h2>Chicken Biriyani</h2>
                </div>
                <div class="description">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <div class="rating">
                    <div id="mntr-rating" class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>


                    <button class="btn btn-success">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>