
<!-- <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="assets/image/m.mp4" allowfullscreen></iframe>
</div> -->
<div id="container" class="container">


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" style="margin:.6rem" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" style="margin:.6rem" data-slide-to="1"></li>
            <li data-target="#myCarousel" style="margin:.6rem" data-slide-to="2"></li>
            <li data-target="#myCarousel" style="margin:.6rem" data-slide-to="3"></li>
            <li data-target="#myCarousel" style="margin:.6rem" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="assets/image/nonVegItems/ChickenGheeRoast.jpg">
                <div class="carousel-caption" style="color: white;">
                    <h4>Chicken Ghee Roast</h4>
                    <p>All your love is waiting out there for your arrival... </p>
                </div>
            </div>
            <div class="item ">
                <img src="assets/image/nonVegItems/chicken-65-gobi.jpg">
                <div class="carousel-caption" style="color: yellow;">
                    <h4>chicken-65 Gobi</h4>
                    <p>All your love is waiting out there for your arrival... </p>
                </div>
            </div>

            <div class="item ">
                <img src="assets/image/vegItems/mushroom-manchurian.jpg">
                <div class="carousel-caption" style="color: rgb(22, 165, 248)">
                    <h4>Mushroom Manchurian</h4>
                    <p>All your love is waiting out there for your arrival... </p>
                </div>
            </div>
            <div class="item">
                <img src="assets/image/vegItems/spring-rolls-500x500.jpg">
                <div class="carousel-caption" style="color: black;">
                    <h4>Spring Rolls</h4>
                    <p>All your love is waiting out there for your arrival... </p>
                </div>
            </div>
            <div class="item">
                <img src="assets/image/nonVegItems/chilli-chicken-noodles.jpg">
                <div class="carousel-caption">
                    <h4>Chilli Chicken Noodles</h4>
                    <p>All your love is waiting out there for your arrival... </p>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>



<div>
    <h2 style="color:white;margin-top: 5rem;">What we do..?</h2>
    <p class="sometext">Lorem ipsum dolor sit amet. Est beatae iure et consequuntur tempore qui quia galisum. Et nemo neque et totam odio aut nihil culpa sit dolores enim est ducimus illo est repudiandae facilis et beatae maxime? Vel quos veritatis hic velit consequatur
        id galisum nemo. Et placeat rerum cum molestias repudiandae qui aperiam rerum qui cupiditate dolorem. Ut molestiae exercitationem cum quisquam eius id voluptatem rerum. Eos autem sunt qui nemo perspiciatis eos galisum iusto et voluptatem tenetur
        sed perferendis recusandae aut mollitia reiciendis eos pariatur quia. Lorem ipsum dolor sit amet. Est beatae iure et consequuntur tempore qui quia galisum. Et nemo neque et totam odio aut nihil culpa sit dolores enim est ducimus illo est repudiandae
        facilis et beatae maxime? Vel quos veritatis hic velit consequatur id galisum nemo. Et placeat rerum cum molestias repudiandae qui aperiam rerum qui cupiditate dolorem. Ut molestiae exercitationem cum quisquam eius id voluptatem rerum. Eos autem
        sunt qui nemo perspiciatis eos galisum iusto et voluptatem tenetur sed perferendis recusandae aut mollitia reiciendis eos pariatur quia. Lorem ipsum dolor sit amet. Est beatae iure et consequuntur tempore qui quia galisum. Et nemo neque et totam
        odio aut nihil culpa sit dolores enim est ducimus illo est repudiandae facilis et beatae maxime? Vel quos veritatis hic velit consequatur id galisum nemo. Et placeat rerum cum molestias repudiandae qui aperiam rerum qui cupiditate dolorem. Ut
        molestiae exercitationem cum quisquam eius id voluptatem rerum. Eos autem sunt qui nemo perspiciatis eos galisum iusto et voluptatem tenetur sed perferendis recusandae aut mollitia reiciendis eos pariatur quia. Lorem ipsum dolor sit amet. Est
        beatae iure et consequuntur tempore qui quia galisum. Et nemo neque et totam odio aut nihil culpa sit dolores enim est ducimus illo est repudiandae facilis et beatae maxime? Vel quos veritatis hic velit consequatur id galisum nemo. Et placeat
        rerum cum molestias repudiandae qui aperiam rerum qui cupiditate dolorem. Ut molestiae exercitationem cum quisquam eius id voluptatem rerum. Eos autem sunt qui nemo perspiciatis eos galisum iusto et voluptatem tenetur sed perferendis recusandae
        aut mollitia reiciendis eos pariatur quia. Lorem ipsum dolor sit amet. Est beatae iure et consequuntur tempore qui quia galisum. Et nemo neque et totam odio aut nihil culpa sit dolores enim est ducimus illo est repudiandae facilis et beatae maxime?
        Vel quos veritatis hic velit consequatur id galisum nemo. Et placeat rerum cum molestias repudiandae qui aperiam rerum qui cupiditate dolorem. Ut molestiae exercitationem cum quisquam eius id voluptatem rerum. Eos autem sunt qui nemo perspiciatis
        eos galisum iusto et voluptatem tenetur sed perferendis recusandae aut mollitia reiciendis eos pariatur quia.



    </p>
</div>
<div class="container">

    <div class="ourserviceCard">
        <div class="row">

            <div class="col-sm-6 col-md-6 col-lg-4 col-xs-12">
                <div class="mainCard">
                    <div class="image">
                        <img style="width: 90%;height: 80%;" src="assets/image/delivery1.jpg" alt="">
                    </div>
                    <div class="content">
                        <p>We deliver the food YOU love with utmost care and love.WE are very happy to give your soul a great taste within the least possible time...</p>
                        <button class="btn" id="xplorebtn">Explore</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xs-12">
                <div class="mainCard">
                    <div class="image">
                        <img style="width: 90%;height: 80%;" src="assets/image/delivery2.jpeg" alt="">
                    </div>
                    <div class="content">
                        <p>We deliver the food YOU love with utmost care and love.WE are very happy to give your soul a great taste within the least possible time...</p>
                        <button class="btn" id="xplorebtn1">Explore</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4 col-xs-12">
                <div class="mainCard">
                    <div class="image">
                        <img style="width: 140%;height: 90%;" src="assets/image/cleanFood.jpg" alt="">
                    </div>
                    <div class="content" style="margin-left: 5rem;">
                        <p>We deliver the food YOU love with utmost care and love.WE are very happy to give your soul a great taste within the least possible time...</p>
                        <button class="btn" id="xplorebtn2">Explore</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div>
    <div class="container">
        <h2 style="color: aliceblue;">Our customers say..!</h2>
        <p class="sometext">Lorem ipsum dolor sit amet. Est beatae iure et consequuntur tempore qui quia galisum. Et nemo neque et totam odio aut nihil culpa sit dolores enim est ducimus illo est repudiandae facilis et beatae maxime? Vel quos veritatis hic velit consequatur
            id galisum nemo. Et placeat rerum cum molestias repudiandae qui aperiam rerum qui cupiditate dolorem. Ut molestiae exercitationem cum quisquam eius id voluptatem rerum. Eos autem sunt qui nemo perspiciatis eos galisum iusto et voluptatem tenetur
            sed perferendis recusandae aut mollitia reiciendis eos pariatur quia. Lorem ipsum dolor sit amet. Est beatae iure et consequuntur tempore qui quia galisum. Et nemo neque et totam odio aut nihil culpa sit dolores enim est ducimus illo est repudiandae
            facilis et beatae maxime? Vel quos veritatis hic velit consequatur id galisum nemo. Et placeat rerum cum molestias repudiandae qui aperiam rerum qui cupiditate dolorem. Ut molestiae exercitationem cum quisquam eius id voluptatem rerum. Eos
            autem sunt qui nemo perspiciatis eos galisum iusto et voluptatem tenetur sed perferendis recusandae aut mollitia reiciendis eos pariatur quia. Lorem ipsum dolor sit amet. Est beatae iure et consequuntur tempore qui quia galisum. Et nemo neque
            et totam odio aut nihil culpa sit dolores enim est ducimus illo est repudiandae facilis et beatae maxime? Vel quos veritatis hic velit consequatur id galisum nemo. Et placeat rerum cum molestias repudiandae qui aperiam rerum qui cupiditate
            dolorem. Ut molestiae exercitationem cum quisquam eius id voluptatem rerum. Eos autem sunt qui nemo perspiciatis eos galisum iusto et voluptatem tenetur sed perferendis recusandae aut mollitia reiciendis eos pariatur quia. Lorem ipsum dolor
            sit amet. Est beatae iure et consequuntur tempore qui quia galisum. Et nemo neque et totam odio aut nihil culpa sit dolores enim est ducimus illo est repudiandae facilis et beatae maxime? Vel quos veritatis hic velit consequatur id galisum
            nemo. Et placeat rerum cum molestias repudiandae qui aperiam rerum qui cupiditate dolorem. Ut molestiae exercitationem cum quisquam eius id voluptatem rerum. Eos autem sunt qui nemo perspiciatis eos galisum iusto et voluptatem tenetur sed
            perferendis recusandae aut mollitia reiciendis eos pariatur quia. Lorem ipsum dolor sit amet. Est beatae iure et consequuntur tempore qui quia galisum. Et nemo neque et totam odio aut nihil culpa sit dolores enim est ducimus illo est repudiandae
            facilis et beatae maxime? Vel quos veritatis hic velit consequatur id galisum nemo. Et placeat rerum cum molestias repudiandae qui aperiam rerum qui cupiditate dolorem. Ut molestiae exercitationem cum quisquam eius id voluptatem rerum. Eos
            autem sunt qui nemo perspiciatis eos galisum iusto et voluptatem tenetur sed perferendis recusandae aut mollitia reiciendis eos pariatur quia.




        </p>
    </div>
    <div class="ourcusCard" style="background-color: grey;padding: 2rem;color: white;">
        <div class="row">

            <div class="col-6">
                <div class="mainCard">
                    <div class="image">
                        <img src="assets/image/jana.jpeg" alt="">
                    </div>
                    <div class="content">
                        <h3>Jana</h3><br>
                        <p>We deliver the food YOU love with utmost care and love.WE are very happy to give your soul a great taste within the least possible time...</p>
                        <div id="mntr-rating" class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mainCard">
                    <div class="image">
                        <img src="assets/image/spandana.jpeg" alt="">
                    </div>
                    <div class="content">
                        <h3>Spandana</h3><br>
                        <p>We deliver the food YOU love with utmost care and love.WE are very happy to give your soul a great taste within the least possible time...</p>
                        <div id="mntr-rating" class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-6">
                <div class="mainCard">
                    <div class="image">
                        <img src="assets/image/tej.jpeg" alt="">
                    </div>
                    <div class="content" style="margin-left: 5rem;">
                        <h3>Tejaswini</h3><br>
                        <p>We deliver the food YOU love with utmost care and love.WE are very happy to give your soul a great taste within the least possible time...</p>
                        <div id="mntr-rating" class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mainCard">
                    <div class="image">
                        <img src="assets/image/jagan.jpeg" alt="">
                    </div>
                    <div class="content" style="margin-left: 5rem;">
                        <h3>Jagan</h3><br>
                        <p>We deliver the food YOU love with utmost care and love.WE are very happy to give your soul a great taste within the least possible time...</p>
                        <div id="mntr-rating" class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <div class="mainCard">
                    <div class="image">
                        <img id="shkr-img" src="assets/image/shankar.jpeg" alt="">
                    </div>
                    <div class="content" style="margin-left: 5rem;">
                        <h3>Shankar</h3><br>
                        <p>We deliver the food YOU love with utmost care and love.WE are very happy to give your soul a great taste within the least possible time...</p>
                        <div id="mntr-rating" class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col"></div>

        </div>
    </div>

</div>





<div>
    <h2 style="margin-top: 5rem;color: white;">Our Pride</h2>
</div>
<div class="mentor" id="mentor-card">
    <div class="mntr-row">
        <div class="mntr-card" style="align-items: center; justify-content: center;">
            <div class="image">
                <img src="assets/image/pride.jpg" alt="" style="width: 150px;height: 150px;">
            </div>
            <h4 class="triner-name" style="text-align: center; margin-top: 15px;">Mr . Nayak </h4>
            <div class="mntr-desc">
                <p style="margin-top: 20px;"> Lorem ipsum dolor sit amet. At galisum commodi hic sint minus vel dolores nemo. Et autem beatae eos eveniet nisi cum sint aliquam? Et porro rerum eos corporis veritatis sed fuga enim ea repudiandae vero aut aspernatur sunt!
                </p>
            </div>
            <div id="show-mntr-rating" style="display: none;">
                <div id="mntr-rating" class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <div id="mntr-soc" class="mntr-soc">
                    <a target="_blank" href="https://web.whatsapp.com/" style="color: black;"> <i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://www.instagram.com/a_s__w_r_i_t_i_n_g_s/" style="color: black;"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://twitter.com/home" style="color: black;"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
            <button style="margin-top: 30px;padding: 7px 9px; margin-left: 60%; ">Know Him</button>
        </div>
    </div>
</div>

 <app-footer-component></app-footer-component> 